body {
  background: #f9f7f5;
}

#content {
  max-width: 800px;
  text-align: center;
  background: white;
  margin: 0 auto;
}

#education {
  text-align: left;
}

#date1 {
  text-align: right;
  top: 200px;
}

h2 {
  text-align: center;
  display: block;
}

p {
  text-align: left;
}

#work {
  text-align: left;
  padding-right: 100px;
  display: inline-block;
}
