body {
  background: #f9f7f5;
}

#content {
  margin: 200px;

  text-align: center;
  background: white;
  /*margin: 0 auto;*/
  display: flex;
  flex-basis: 0;
  flex-shrink: 1;
}

#education {
  text-align: left;
}

#date1 {
  text-align: right;
  top: 200px;
}

h2 {
  text-align: center;
  display: block;
}

p {
  text-align: left;
}

#work {
  text-align: left;
  padding-right: 100px;
  display: inline-block;
}
